.outline-crimson {
  outline: crimson dotted 1px !important;
}

.outline-lightblue {
  outline: lightblue dotted 1px !important;
}

.outline-green {
  outline: green dotted 1px !important;
}

.outline-blue {
  outline: blue dotted 1px !important;
}

.outline-brown {
  outline: brown dotted 1px !important;
}

.outline-darkorange {
  outline: darkorange dotted 1px !important;
}
